@using PortaleRegione.DTO.Enum
@model bool
@if (!Model)
{
    <div id="btnComandiMassivi" class="fixed-action-btn" style="display: none">
        <a class="btn-floating btn-large pink">
            <i class="large material-icons">playlist_add</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating blue" onclick="ConfirmStampa()">
                    <i class="material-icons">print</i>
                </a>
            </li>
            <li>
                <a id="btnFirmaMassivo" class="btn-floating green" onclick="RevealFirmaDepositoMassivo(@Html.Raw((int) ActionEnum.FIRMA))">
                    <i class="material-icons">gavel</i>
                </a>
            </li>
            <li>
                <a id="btnDepositaMassivo" class="btn-floating purple darken-1" onclick="RevealFirmaDepositoMassivo(@Html.Raw((int)ActionEnum.DEPOSITA))">
                    <i class="material-icons">lock</i>
                </a>
            </li>
            <li>
                <a id="btnInvitaMassivo" class="btn-floating amber">
                    <i class="material-icons">send</i>
                </a>
            </li>
            <li>
                <a class="btn-floating grey" onclick="DeselectALLEM()">
                    <i class="material-icons">undo</i>
                </a>
            </li>
        </ul>
    </div>

    <div id="btnNuovoEM" class="fixed-action-btn" style="display: block">
        <a id="btnCreaEM" class="btn-floating btn-large blue darken-1">
            <i class="large material-icons">add</i>
        </a>
    </div>
}
else
{
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue darken-1" onclick="ConfirmStampa()">
            <i class="material-icons">print</i>
        </a>
    </div>
}
